.column {
    display: flex;
    flex-direction: column;
}
  
.column h3 {
    background: var(--color-bg, var(--blue));
    box-shadow:  var(--shadow);
    border-radius: 10px;
    padding: 0.2em 1em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: auto;
}
  
.column__cards {
    display: flex;
    gap: 1.5rem;
    flex-grow: 1;
    max-height: 88vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -2rem;
    margin-left: -1rem;
    padding: 1rem;
}
  
  @media (min-width: 1025px) {
    .column__cards {
      flex-direction: column;
    }
  
    .column h3 {
      margin-bottom: 3rem;
    }
}
  
  @media (max-width: 1024px) {
    .column {
      margin-bottom: 4rem;
    }
  
    .column h3 {
      margin-bottom: 2rem;
    }
  
    .column__cards {
      overflow: auto;
      max-width: 100%;
      padding-bottom: 2rem;
    }
}