@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --orange: #FB8500;
  --yellow: #FFB703;
  --dark-blue: #023047;
  --lighter-blue: #01131c;
  --darker-blue: #034d72;
  --blue: #219EBC;
  --light-blue: #8ECAE6;
  --family: 'Sofia Sans Semi Condensed', sans-serif;
  --offset: 2px;
  --blur: 10px;
  --shadow: var(--offset) var(--offset) var(--blur) var(--lighter-blue),
    calc(var(--offset) * -1) calc(var(--offset) * -1) var(--blur) var(--darker-blue);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--dark-blue);
  font-family: var(--family);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1, h2, h3 {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darker-blue);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--yellow);
}

.is-dragging {
  opacity: 0.3;
}

.is-drag-over {
  box-shadow: var(--shadow);
}

@media (min-width: 1025px) {
  html {
    font-size: 1vw;
  }
}